@font-face {
  font-family: "iconfont"; /* Project id 3479385 */
  src: url('iconfont.woff2?t=1655880846845') format('woff2'),
       url('iconfont.woff?t=1655880846845') format('woff'),
       url('iconfont.ttf?t=1655880846845') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi-copy:before {
  content: "\e600";
}

.icon-gerenzhongxin:before {
  content: "\100da";
}

